@charset "utf-8";

/* Set the charset and linked the fonts. */
@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('ttf');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('ttf');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Diego Sandoval
   Date:   09/10/18
   
   Filename: lake_styles.css

*/
/* Structural Styles */
/* Set up CSS rules to effect the structure of the website. Changed the background-color of html body and header tag. Then set up some font and padding and margin. */
html {
    background-color: rgb(205, 200, 150);
    /* cursor: wait; */
}

body {
    background: rgb(255, 250, 240);
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

header {
    background-color: rgb(120, 90, 125);
}

p {
    margin: 0px;
    padding: 15px 25px 0px;
}

/* Navigation Styles */
/* set up the nav so that it changes color when you hover over it and linked it to a class so it doesnt effect the other nav on the website. */
nav.navbar a {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.navbar a:visited,
nav.navbar a:link {
    color: rgb(200, 175, 200);
    text-decoration: none;
    background-color: rgba(107, 107, 107, 0.4);
}

nav.navbar a:hover,
nav.navbar a:active {
    color: rgba(200, 175, 200, 0.7);
    background-color: rgba(107, 107, 107, 0.7);
}

/* Section Styles Left Column */
/* Set up the left column. Changed the font, size, margin, padding and weight of h1 and h2, also made h2 centered. Then set up the asides for notes and upcoming events. Then made the list dot circles. */
section#leftcol h1 {
    font-family: Champagne, cursive;
    font-size: 4em;
    margin: 0px;
    padding: 5px 10px 5px;
    font-weight: normal;
}

section#leftcol aside h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0px;
    padding: 5px 10px 10px;
    font-weight: normal;
    text-align: center;
}

section#leftcol aside h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 5px 10px 5px;
    font-weight: normal;

}

/* Set up the asides with CSS rules. Made them have different background, and changed the list icon. */
section#leftcol aside {
    width: 45%;
}

section#leftcol aside p {
    padding: 15px;
}

section#leftcol aside.notes {
    background-color: rgb(225, 165, 155);
}

section#leftcol aside.events {
    background-color: rgb(205, 185, 130);
}

section#leftcol aside.notes li {
    list-style: circle;
    line-height: 1.5em;
}

/* Section Styles Right Column */
/* Set up the right column CSS. Changed the font and size of the h2 tags. Made the links change color when you hover over them. Then made the blockquote have quotation marks, be a different color and increased the the size of the font of the blockquote. */
section#rightcol {
    background-color: rgb(215, 200, 220);
    margin: 0px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 150px;
}

section#rightcol h2 {
    font-family: Champagne, cursive;
    font-size: 2em;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Set up the nav list in the right column, so tht when you hover over the links they change color. then changed the text color and size.  */
section#rightcol li {
    list-style: none;
    font-size: .9em;
}

section#rightcol ul {
    padding-left: 20px;
}

section#rightcol a {
    text-decoration: none;
}

section#rightcol nav a:visited,
section#rightcol nav a:link {
    color: black;
    text-decoration: none;
}

section#rightcol nav a:hover,
section#rightcol nav a:active {
    color: white;
}

/* Made the blockquote have quotes around it. I also made it not have so much akward space. */
section#rightcol blockquote {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(120, 100, 130);
    padding-top: 35px;
    margin-right: 50px;
    margin-left: 0px;
    quotes: '\201C''\201D';
    font-size: 1.5em;
}

section#rightcol blockquote::before {
    content: open-quote;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
}

section#rightcol blockquote::after {
    content: close-quote;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    line-height: 0px;
    top: 15px;
}

/* footer styles */
/* set up the footer html. added link, then made the change color when hovered over and changed the font color. */
footer {
    background-color: rgb(90, 90, 90);
    text-align: center;
    padding: 10px;
    color: white;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
}

footer>em:hover {
    color: rgba(255, 255, 255, .75);
    cursor: pointer;
}

/* End of CSS code, thank you for going through it and reviewing this if you chosse this project, have a great day, and I hope you are having fun grading. &#9786;  */